In [1]:
a="Abhishek"

In [2]:
a

'Abhishek'

In [3]:



a='''Abhishek'''

In [4]:
a

'Abhishek'

In [5]:
a="abhi"

In [6]:
b="abhi"

In [7]:
c="abhi"

In [8]:
print(id(a))

2263324334704

In [9]:
print(id(b))

2263324334704

In [10]:
print(id(c))

2263324334704

Strings are immutable

concatanation of strings

In [11]:
a= "red"

In [12]:
a=a+"blue"

In [13]:
a

'redblue'

In [14]:
a=a+'blue' +'green'

In [15]:
a

'redbluebluegreen'

In [16]:
a+='red'

In [17]:
a

'redbluebluegreenred'

In [18]:
id(a)

2263323719472

In [19]:
a+='yello'

In [20]:
a

'redbluebluegreenredyello'

In [21]:
id(a)

2263324272368

In [22]:
a='blue'

In [23]:
a=a*3

In [24]:
a

'blueblueblue'

In [25]:
a=a*3

In [26]:
a

'blueblueblueblueblueblueblueblueblue'

In [27]:
id(a)

2263324279696

In [28]:
a=a*2

id(a)

In [30]:
a=a+3

TypeError: can only concatenate str (not "int") to str

In [33]:
a=a+str(3)

In [34]:
a

'blueblueblueblueblueblueblueblueblueblueblueblueblueblueblueblueblueblueblueblueblueblueblueblueblueblueblueblueblueblueblueblueblueblueblueblue3'

# Interating on string

In [35]:
str="hello world"

How many times L appers in the list

In [38]:
#each character wise
count=0
for letter in str:
    if letter=='l':
        count=count+1
print(count)

3

In [40]:
#index wise
count=0
for i in range (len(str)):
    if(str[i]=='l'):
        count=count+1
print(count)

3

in and not in on string

In [41]:
str="hello"

In [42]:
if 'hel' in str:
    print("yes it is a substring")

yes it is a substring

In [44]:
if 'heo' in str:
    print("yes it is a substring")
else:
    print("Not a substring")

Not a substring

In [47]:
if 'heo' not in str:
    print("yes it is  not a substring")
else:
    print(" a substring")

yes it is  not a substring

# comparision operator

>= ,<=,>,< etc

In [48]:
a="abhi"=="abhi"

In [49]:
a

True

In [50]:
a="Rbhi">="abhi"

In [51]:
a

False

In [52]:
a="rbhi">="abhi"

In [54]:
a

True

In [55]:
a="abh" >= "abhi"

In [56]:
a

False

operations on strings

# split

In [1]:
str="my name is abhi"
li=str.split()

In [2]:
li

['my', 'name', 'is', 'abhi']

In [3]:
str="my,name,is,abhi"
li=str.split()

In [4]:
li

['my,name,is,abhi']

In [5]:
str="my,name,is,abhi"
li=str.split(',')

In [6]:
li

['my', 'name', 'is', 'abhi']

In [12]:
str="my,name,is,abhi"
li=str.split(',', 2)

In [13]:
li

['my', 'name', 'is,abhi']

when you give 2 then it will split in 2+1 part

#Replace

In [14]:
#here i willl replace a string with another string

In [17]:
str="my name is abhi"
str1=str.replace("abhi","shivam")
print(str)
print(str1)

my name is abhi
my name is shivam

In [18]:
str="my name is abhi"
str.replace("abhi","shivam")
print(str)

my name is abhi

In [20]:
str="my name is abhi abhi abhi abhi "
str1=str.replace("abhi","shivam")#if there is many abhi then it will replace all
print(str1)

my name is shivam shivam shivam shivam

In [21]:
str="my name is abhi abhi abhi abhi "
str1=str.replace("abhi","shivam",2)#if there is many abhi then it will replace 2 
print(str1)

my name is shivam shivam abhi abhi

# find

In [22]:
#you want to find something in the string

In [26]:
str="my name is abbhi"

In [27]:
index=str.find("na")

In [28]:
index

3

In [29]:
index=str.find("abhi")

In [30]:
index

-1

In [31]:
index=str.find("na",12,18)

In [32]:
index

-1

# Lower and upper

In [35]:
str="My name is abhi"
str=str.lower()
print(str)
str=str.upper()
print(str)

my name is abhi
MY NAME IS ABHI

# starts with

In [54]:
str="my name is abhi "

In [55]:
str=str.startswith("my")

In [56]:
print(str)

True

In [61]:
str="my name is abhi "
ans=str.startswith("am",5,9)
print(ans)

False

print(str)

# replacing character

In [63]:
str="abcdqa"
ans =str.replace("a","e")
print(ans)

ebcdqe

In [77]:

def replace(str,char1,char2):
    new=""
    for i in range (len(str)):
        if str[i]=='a':
            new=new+'e'
        else:
            new=new+str[i]
    return new

In [78]:
replace("abcdesad",'a','e')

'ebcdesed'

# count vowels, consonants,digits in string

In [22]:
def countInString(str):
    v,c,d,s=0,0,0,0
    for char in str:
        if (char>='a' and char <='z') or (char >='A' and char <='Z'):
            char=char.lower()
            if (char=='a' or char=='e' or char=='i' or char=='o', char=='u'):
                v=v+1
            else:
                c=c+1
        elif (char >='0' and char<='9'):
            d=d+1
        else:
            s=s+1
    return v,c,d,s

In [23]:
str="aeiosj@$1u"
v,c,d,s=countInString(str)
print(v,c,d,s)

5 2 1 2